
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    width:1600px;
}

/* shared css */
.btn-primary {
    border:none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #F7E93F 0%, #FB09B4  51%, #9100F8  100%);
}
.btn-transparent {
    border: 1px solid #00FF88;
    padding:12.5px 20px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-color:transparent;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* main css */
.nav-container {
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    background-color: #412567;
    align-items: center;
    padding: 16px;
}
.nav-container li {
    list-style:none;
}
.nav-container ul li a {
    text-decoration: none;
    font: 1rem;
    font-weight: 500;
    line-height: 120%;
    opacity: 90%;
    color: #FFFFFF;
}
.nav-items ul {
    display:flex;
    gap: 16px;
}

/* banner section css */

.banner-section {
    background: url('../images/hero-bg.png');
    width: 1600px;
    height: 760px;
}
.banner-image {
    align-items:center;
    position:relative;
}
.hero-circle {
    display:flex;
    justify-content:center;
    margin:0 auto;
    align-items: center;
    padding:80px;
}
.hero-microphone {
    display:flex;
    justify-content: center;
    margin:0 auto;
    align-items:center;
    position: absolute;
    top:160px;
    left:745px;
}
.new-challange {
    padding: 5px 10px;
    border:none;
    font-size:1rem;
    font-weight: 500;
    border-radius: 40px;
    background-color:#00FF88;
    display:flex;
    position:absolute;
    top: 100px;
    left:880px;
}

.banner-textarea {
    text-align: center;
}
.banner-header-text {
    font-size: 3.75rem;
    font-weight: 800;
    color:#FFFFFF;
    margin:0 auto;
}
.banner-subheader {
    font-size: 1rem;
    color:#FFFFFF;
    opacity: 80%;
    margin-top: 8px;
}