
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared css */
.btn-primary {
    border:none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #F7E93F 0%, #FB09B4  51%, #9100F8  100%);
}
.btn-transparent {
    border: 1px solid #00FF88;
    padding:12.5px 20px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-color:transparent;
    margin-bottom: 101px;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.spotify {
    margin-bottom: 101px;
}
.fa-solid-star {
    color: #00ff88;
}
/* main css */
    .nav-container {
    max-width: 1600px;
    width:100%;
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    background-color: #1A0B2E;
   padding-top:16px;
   padding-bottom: 16px;
    border-bottom: 1px solid #371c5a;
}
.nav-container li {
    list-style:none;
}
.nav-container ul li a {
    text-decoration: none;
    font: 1rem;
    font-weight: 500;
    line-height: 120%;
    opacity: 90%;
    color: #FFFFFF;
}
.nav-items ul {
    display:flex;
    gap: 16px;
}

/* banner section css */

.banner-section {
    background: url('../images/hero-bg.png');
    max-width:1600px;
    width: 100%;
    margin:0 auto;
}
.banner-image {
    align-items:center;
    position:relative;
}
.hero-circle {
    display:flex;
    justify-content:center;
    margin:0 auto;
    align-items: center;
    padding-top:80px;
}
.hero-microphone {
    display:flex;
    justify-content: center;
    margin:0 auto;
    align-items:center;
    position: absolute;
    top:160px;
    left:745px;
}
.new-challange {
    padding: 5px 10px;
    border:none;
    font-size:1rem;
    font-weight: 500;
    border-radius: 40px;
    background-color:#00FF88;
    display:flex;
    position:absolute;
    top: 100px;
    left:880px;
}

.banner-textarea {
    text-align: center;
}
.banner-header-text {
    font-size: 3.75rem;
    font-weight: 800;
    color:#FFFFFF;
    margin-top:40px;
    margin-bottom: 0;

}
.banner-subheader {
    font-size: 1rem;
    font-weight: 400;
    color:#FFFFFF;
    opacity: 70%;
    margin-top: 8px;
    margin-bottom: 24px;
}

/* podcast  and review section */

.overview-container {
    max-width: 1600px;
    width:100%;
    justify-content: center;
    text-align: center;
    background-color: #1A0B2E;
    margin:0 auto;
}
.podcast-overview {
    max-width: 1200px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 80px;
    margin:0 auto;
    padding-top: 80px;
    border-top: 1px solid #271340;
}
.podcast-overview-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    margin:0px;
    padding:0px;
}
.podcast-overview-container p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
    color: #FFFFFF;
    line-height: 20px;
    padding-bottom: 80px;
}
.podcast-overview h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin:0px;
}
.podcast-overview p {
    font-size: 1rem;
    font-weight: 400;
    opacity:80%;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 120px;
}
