
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared css */
.btn-primary {
    border:none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #F7E93F 0%, #FB09B4  51%, #9100F8  100%);
}
.btn-transparent {
    border: 1px solid #00FF88;
    padding:12.5px 20px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background-color:transparent;
    margin-bottom: 101px;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.spotify {
    margin-bottom: 101px;
}
.fa-solid-star {
    color: #00ff88;
}
/* main css */
    .nav-container {
    max-width: 1600px;
    width:100%;
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    background-color: #1A0B2E;
   padding-top:16px;
   padding-bottom: 16px;
    border-bottom: 1px solid #371c5a;
}
.nav-container li {
    list-style:none;
}
.nav-container ul li a {
    text-decoration: none;
    font: 1rem;
    font-weight: 500;
    line-height: 120%;
    opacity: 90%;
    color: #FFFFFF;
}
.nav-items ul {
    display:flex;
    gap: 16px;
}
.hamburger-menu {
    visibility: hidden;
}

/* banner section css */

.banner-section {
    background: url('../images/hero-bg.png');
    max-width:1600px;
    width: 100%;
    margin:0 auto;
}
.banner-image {
    align-items:center;
    position:relative;
}
.hero-circle {
    display:flex;
    justify-content:center;
    margin:0 auto;
    align-items: center;
    padding-top:80px;
}
.hero-microphone {
    display:flex;
    justify-content: center;
    margin:0 auto;
    align-items:center;
    position: absolute;
    top:160px;
    left:745px;
}
.new-challange {
    padding: 5px 10px;
    border:none;
    font-size:1rem;
    font-weight: 500;
    border-radius: 40px;
    background-color:#00FF88;
    display:flex;
    position:absolute;
    top: 100px;
    left:880px;
}

.banner-textarea {
    text-align: center;
}
.banner-header-text {
    font-size: 3.75rem;
    font-weight: 800;
    color:#FFFFFF;
    margin-top:40px;
    margin-bottom: 0;

}
.banner-subheader {
    font-size: 1rem;
    font-weight: 400;
    color:#FFFFFF;
    opacity: 70%;
    margin-top: 8px;
    margin-bottom: 24px;
}

/* podcast  and review section */

.overview-container {
    max-width: 1600px;
    width:100%;
    justify-content: center;
    text-align: center;
    background-color: #1A0B2E;
    margin:0 auto;
}
.podcast-overview {
    max-width: 1200px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 80px;
    margin:0 auto;
    padding-top: 80px;
    border-top: 1px solid #271340;
}
.podcast-overview-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    margin:0px;
    padding:0px;
}
.podcast-overview-container p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
    color: #FFFFFF;
    line-height: 20px;
    padding-bottom: 80px;
}
.podcast-overview h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin:0px;
}
.podcast-overview p {
    font-size: 1rem;
    font-weight: 400;
    opacity:80%;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 120px;
}

/* card and feature section */
.takewave-features {
    background-color: #230E3D;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.features {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.title-text {
    font-size: 1.5rem;
    font-weight:600;
    color:#FFFFFF;
     margin-top:16px;
     margin-bottom: 16px;
     
}
.discription-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    opacity:60%;
    color:#FFFFFF;
}
.features-container {
    font-size:3rem;
    font-weight: 600;
    text-align: center;
    color:#FFFFFF;
   

}
.feature-card {
    background-color:#351165;
    padding:40px;
    border:none;
    border-radius: 40px;
}
.why-choose {
    margin:0px;
    padding-top:120px;
    padding-bottom: 40px;
}
.headphone {
    grid-row: span 2;
    padding-top: 107px;
}
.device {
    grid-column: span 2;
}
.location {
    grid-column: span 2;
}
.exclusive {
    grid-column: span 2;
    margin-bottom: 120px;
}
.feature {
    margin-bottom: 120px;
}

/* iframe section style  */

.iframe {
    max-width: 1600px;
    width:100%;
    background-color: #1A0B2E;
    margin:0 auto;
}
.iframe-heading-text {
    font-size: 3rem;
    font-weight: 600;
    color:#FFFFFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    margin:0px;
}
.iframe-video {
    max-width: 380px;
    border:none;
    border-radius: 15px;
    background-color:#250D44;
}
iframe {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.video-title {
    font-size: 1.5rem;
    font-size: 600;
    color: #FFFFFF;
}
.video-discription {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;

}
.duration {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    color: #00FF88;
    align-items: center;
}
.iframe-container {
    display: flex;
    gap:30px;
    justify-content: center;
}
.video-obj {
    padding: 24px;
}
.iframe-box {
    border:none;
    border-radius:20px;
}

/* style the host section */
.host {
    max-width:1600px;
    width:100%;
    background-color: #1A0B2E;
    margin:0 auto;
    padding-bottom: 120px;
    
}
.host-container {
    max-width:1200px;
    width:100%;
    background-color: #351165;
    margin: 0 auto;
     display:grid;
    grid-template-columns: 300px 1fr;
    border:none;
    border-radius: 40px;

}
.host-heading {
    font-size:3rem;
    font-weight: 600;
    color: #FFFFFF;
    margin:0;
    padding-top:120px;
    text-align: center;
}
.profile-photo {
    padding:40px;
    /* margin-top: 30px; */
    align-items: center;
}
.profile-content {
    padding: 48px 40px 40px 0;
    
}
.profile-content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #FFFFFF;
    /* margin-bottom: 16px; */
    align-items:center;
    margin:0px;
}
.profile-content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    align-items:center;
}
.social-accounts {
    display:flex;
    gap: 20px;
}

/* style footer section  */

.footer {
    background: url('../images/footer-bg.png');
    max-width: 1600px;
    width: 100%;
    margin:0 auto;
}
.footer-container {
    padding: 120px;
    text-align: center;
}
.footer-logo {
    margin-bottom: 55px;
}
.strimg-app {
    display: flex;
    gap: 45px;
    justify-content: center;
}
.strimg-app a {
    font-size:1rem;
    color: #FFFFFF;
    opacity: 60%;
    text-decoration: none;
}
.footer-p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    margin-top:32px;
}